/* embedded fonts */

@font-face	{

	font-family: brighton-light-plain;
	src:url("../fonts/brighton-light-plain.ttf") format('truetype');

}

/* styles */

.cover {

	width: 400px;
	height: 600px;
	border: none;
	background-color: #647483;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;

}

.title {

	font-family: brighton-light-plain, serif;
	color: white;
	font-size: 60px;
	line-height: 60px;
	position: absolute;
	top: 5px;
	left: 30px;

}

.title:hover {

	animation: flip 2s;
	filter: drop-shadow(2px 2px 2px #b07227)

}

.edition {

	font-family: bookmania, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	letter-spacing: 1.5px;
	position: absolute;
	top: 200px;
	left: 30px;

}

.edition:hover {

	animation: slide 1s;
	
}

.author {

	font-family: brighton-light-plain, serif;
	color: white;
	font-size: 20px;
	letter-spacing: .5px;
	position: absolute;
	top: 535px;
	left: 30px;
	animation: rotate 6s infinite linear;


}

.square1 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 90%;
	left: 23.75%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.7s;

	
}

.square2 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.6s;

	
}

.square3 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.5s;

	
}

.square4 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.4s;

	
}

.square5 {

	width: 600px;
	height: 600px;
	border: 6px solid #0a5e20;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.3s;

	
}

.square6 {

	width: 600px;
	height: 600px;
	border: 6px solid #0a5e20;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.2s;

	
}

.square7 {

	width: 600px;
	height: 600px;
	border: 6px solid #0a5e20;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2.1s;

	
}

.square8 {

	width: 600px;
	height: 600px;
	border: 6px solid #0a5e20;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 2s;

	
}

.square9 {

	width: 600px;
	height: 600px;
	border: 6px solid #edb522;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.9s;

	
}

.square10 {

	width: 600px;
	height: 600px;
	border: 6px solid #edb522;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.8s;

	
}

.square11 {

	width: 600px;
	height: 600px;
	border: 6px solid #edb522;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.7s;

	
}

.square12 {

	width: 600px;
	height: 600px;
	border: 6px solid #edb522;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.6s;

	
}

.square13 {

	width: 600px;
	height: 600px;
	border: 6px solid #b07227;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;

	
}

.square14 {

	width: 600px;
	height: 600px;
	border: 6px solid #b07227;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.4s;

	
}

.square15 {

	width: 600px;
	height: 600px;
	border: 6px solid #b07227;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.3s;

	
}

.square16 {

	width: 600px;
	height: 600px;
	border: 6px solid #b07227;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;

	
}

.square17 {

	width: 600px;
	height: 600px;
	border: 6px solid #6a1211;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.1s;

	
}

.square18 {

	width: 600px;
	height: 600px;
	border: 6px solid #6a1211;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: 1s;

	
}

.square19 {

	width: 600px;
	height: 600px;
	border: 6px solid #6a1211;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .9s;

	
}

.square20 {

	width: 600px;
	height: 600px;
	border: 6px solid #6a1211;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .8s;

	
}

.square21 {

	width: 600px;
	height: 600px;
	border: 6px solid #4a0b5c;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .7s;

	
}

.square22 {

	width: 600px;
	height: 600px;
	border: 6px solid #4a0b5c;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .6s;

	
}

.square23 {

	width: 600px;
	height: 600px;
	border: 6px solid #4a0b5c;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .5s;
	
}

.square24 {

	width: 600px;
	height: 600px;
	border: 6px solid #4a0b5c;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .4s;
	
}

.square25 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .3s;
	
}

.square26 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .2s;
	
}

.square27 {

	width: 600px;
	height: 600px;
	border: 6px solid #152b52;
	position: absolute;
	top: 51.75%;
	left: 48.25%;
	transform: translate(-50%, -50%);
	animation: fade 6s infinite;
	animation-fill-mode: forwards;
	animation-delay: .1s;
	
}

/* animation keyframes */

@keyframes fade	{

	0%		{	opacity:	0;	}
	100% 	{	opacity:	1;	}
	
}

@keyframes rotate	{

	0%	{	transform:	rotate(0deg);	}
	100%	{	transform:	rotate(-360deg);	}

}

@keyframes flip {

	0%	{ transform: translate(-0%, -0%) rotate(0deg); }
	50%  { transform: translate(-10%, -0%) rotate(180deg); }
	100%	{	transform: translate(-0%, -0%) rotate(0deg); }

}

@keyframes slide {

	0%	{ transform: translate(-0%, -0%); }
	50% { transform: translate(95%, -0%) ; }
	100% { transform: translate(-0%, -0%); }

}